/* maps */

figure.maps_map {}
figure.maps_map figcaption {
    font-size: larger;
}

/* maps administration */

article.maps_admin {}
article.maps_admin ul {
    list-style: none;
}

article.map_edit {}
article.map_edit span.maps_help {
    font-size: smaller;
    font-weight: normal;
}
article.map_edit form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
article.map_edit input,
article.map_edit textarea {
    display: block;
}
article.map_edit table {
    width: 100%;
    table-layout: fixed;
    grid-column: 1/3;
}
article.map_edit table caption {
    font-size: larger;
}
article.map_edit table col:nth-child(1),
article.map_edit table col:nth-child(2) {
    width: 7em;
}
article.map_edit table col:nth-child(4) {
    width: 1em;
}
article.map_edit table col:nth-child(5) {
    width: 3em;
}
article.map_edit table th,
article.map_edit table td {
    vertical-align: top;
}
article.map_edit table th:nth-child(5),
article.map_edit table td:nth-child(5) {
    text-align: right;
}
article.map_edit table input,
article.map_edit table textarea {
    width: 100%;
}
article.map_edit p.maps_controls {
    grid-column: 1/3;
}

article.maps_admin p.maps_controls,
article.map_edit p.maps_controls {
    margin: 1em 0;
    display: flex;
    justify-content: right;
}

/* plugin info */

article.maps_plugininfo {}
article.maps_pluginfo section.maps_syscheck {}
